<div class="add-modal__overlay">
  <div class="add-modal">
    <div class="add-modal__content">
      <button type="button" class="add-modal__close-btn" data-close="true">
        <svg class="add-modal__close-icon">
          <use href="/src/images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>

      <h2 class="add-form__title">Додати оголошення</h2>

      <form action="#" class="add-form js-add-form">
        <div class="form-items-wrapper">
          <div class="add-form__item">
            <label class="add-form__label" for="form-name">Назва товару</label>
            <div class="input-wrapper">
              <input
                id="form-name"
                type="text"
                class="add-form__name _req _name input"
              />
              <div class="add-form__error-message">
                Додайте назву товару!
              </div>
            </div>
          </div>

          <div class="add-form__item">
            <label class="add-form__label">Фото</label>
            <div class="input-wrapper">
              <ul class="image-preview__add _req">
                <li class="image-preview__item">
                  <div class="choose-image">
                    <input
                      accept=".jpg"
                      type="file"
                      class="choose-image__input add-image"
                    />
                    <div class="image-button">+</div>
                  </div>
                </li>
              </ul>
              <div class="add-form__error-message">
                Додайте від 1-го до 5-ти фото!
              </div>
            </div>
          </div>

          <div class="add-form__item">
            <label class="add-form__label" for="form-description"
              >Опис товару</label
            >
            <div class="input-wrapper">
              <textarea
                name="description"
                id="form-description"
                class="add-form__description _description _req input"
              ></textarea>
              <div class="add-form__error-message">
                Додайте опис товару - мінімум 5 символів!
              </div>
            </div>
          </div>

          <div class="add-form__item">
            <div class="add-form__label">Категорія товару</div>
            <div class="select-wrapper">
              <select
                name="product-category"
                class="add-form__select _category _req input"
              >
                <option
                  value="category"
                  class="select-option select-option-first"
                >
                  Категорія
                </option>
              </select>
              <div class="add-form__error-message">Виберіть категорію!</div>
            </div>
          </div>

          <div class="add-form__item">
            <label class="add-form__label" for="form-price">Ціна</label>
            <div class="input-wrapper">
              <input
                type="text"
                id="form-price"
                name="productPrice"
                data-source="price"
                class="add-form__product-price _price _req input"
                autocomplete="off"
                minlength="1"
                maxlength="16"
                placeholder="0.00 грн"
              />
              <div class="add-form__error-message">
                Додайте ціну товару!
              </div>
              <div class="add-form__error-message error-price">
                Ціна для вибраної категорії повинна бути 0!
              </div>
            </div>
          </div>

          <div class="add-form__item">
            <label class="add-form__label" for="form-phone">Телефон</label>
            <div class="input-wrapper">
              <input
                id="form-phone"
                type="tel"
                name="productPhone"
                data-source="phone"
                class="add-form__product-telephone-number _phone _req input"
                placeholder="+38(0--) --- -- --"
              />
              <div class="add-form__error-message">Додайте номер телефону!</div>
            </div>
          </div>
        </div>
        <button type="submit" class="add-product-btn">Додати</button>
      </form>
    </div>
  </div>
</div>

{{!-- <div class="add-backdrop js-backdrop">
        <div class="add-modal">
          <button
            type="button"
            class="add-modal__close-btn"
            data-close="true"
          ></button>

          <h2 class="add-modal__form--title">Додати оголошення</h2>

          <form class="add-modal__form" name="addForm">
            <div>
              <div class="input-wrapper">
                <p class="add-modal__product-name-title">Назва товару</p>
                <input
                  type="text"
                  name="productName"
                  class="add-modal__product-name input"
                  id=""
                  data-source="name"
                  autocomplete="off"
                  placeholder=""
                /> --}}
                {{!-- <div class="add-form__error-message">
                Введіть мінімум 3 максимум 15 символів!
              </div> --}}
              {{!-- </div>

              <div class="input-wrapper">
                <p class="add-modal__product-photos-title">Фото</p>
                <ul class="add-modal__product-photos">
                  <li class="add-modal__product-photos-item">
                    <input
                      class="photo-input"
                      data-id="1"
                      data-active="true"
                      name=""
                      id="fp1"
                    />
                    <label class="input-label choose-this" for="fp1"
                      ><img
                        src=""
                        class="input-label__img input-label__img--1"
                        width="75"
                        height="58"
                        alt=""
                    /></label>
                  </li>
                  <li class="add-modal__product-photos-item">
                    <input
                    accept=".jpg"
                    type="file"
                      class="photo-input add-image"
                      data-id="2"
                      data-active=""
                      name=""
                      id="fp2"
                    />
                    <label class="input-label" for="fp2"
                      ><img
                        src=""
                        class="input-label__img input-label__img--2"
                        width="75"
                        height="58"
                        alt=""
                    /></label>
                  </li>
                  <li class="add-modal__product-photos-item">
                    <input
                    accept=".jpg"
                    type="file"
                      class="photo-input add-image"
                      data-id="3"
                      data-active=""
                      name=""
                      id="fp3"
                    />
                    <label class="input-label" for="fp3"
                      ><img
                        src=""
                        class="input-label__img input-label__img--3"
                        width="75"
                        height="58"
                        alt=""
                    /></label>
                  </li>
                  <li class="add-modal__product-photos-item">
                    <input
                    accept=".jpg"
                    type="file"
                      class="photo-input add-image"
                      data-id="4"
                      data-active=""
                      name=""
                      id="fp4"
                    />
                    <label class="input-label" for="fp4"
                      ><img
                        src=""
                        class="input-label__img input-label__img--4"
                        width="75"
                        height="58"
                        alt=""
                    /></label>
                  </li>
                  <li class="add-modal__product-photos-item">
                    <input
                    accept=".jpg"
                    type="file"
                      class="photo-input add-image"
                      data-id="5"
                      data-active=""
                      name=""
                      id="fp5"
                    />
                    <label class="input-label" for="fp5"
                      ><img
                        src=""
                        class="input-label__img input-label__img--5"
                        width="75"
                        height="58"
                        alt=""
                    /></label>
                  </li>
                  <li class="add-modal__product-photos-item">
                    <input
                    accept=".jpg"
                    type="file"
                      class="photo-input add-image"
                      data-id="6"
                      data-active=""
                      name=""
                      id="fp6"
                    />
                    <label class="input-label" for="fp6"
                      ><img
                        src=""
                        class="input-label__img input-label__img--6"
                        width="75"
                        height="58"
                        alt=""
                    /></label>
                  </li>
                </ul>
                {{!-- <div class="add-form__error-message">
                Додайте від 1-го до 5-ти фото!
              </div> --}}
              </div>

              <div class="input-wrapper">
                <p class="add-modal__product-description-title">Опис товару</p>
                <textarea
                  name="productDescription"
                  data-source="description"
                  class="add-modal__product-description input"
                  id=""
                  placeholder=""
                ></textarea>
                {{!-- <div class="add-form__error-message">
                Введіть мінімум 5 символів!
              </div> --}}
              </div>

              <div class="input-wrapper">
                <p class="add-modal__product-select-title">Категорія товару</p>
                <div class="select">
                  <select
                    name="productCategory"
                    class="add-modal__product-select input"
                    id=""
                  >
                    <option
                      value="category"
                      class="select-option select-option-first"
                      selected
                    ></option> --}}
                    {{!-- <option value="property" class="select-option">
                      Нерухомість
                    </option>
                    <option value="transport" class="select-option">
                      Транспорт
                    </option>
                    <option value="work" class="select-option">Работа</option>
                    <option value="electronics" class="select-option">
                      Электроніка
                    </option>
                    <option value="business-and-services" class="select-option">
                      Бізнес та послуги
                    </option>
                    <option value="recreation-and-sports" class="select-option">
                      Відпочинок та спорт
                    </option>
                    <option value="free" class="select-option">
                      Віддам безкоштовно
                    </option>
                    <option value="trade" class="select-option">
                      Обмін
                      </option> --}}
                  {{!-- </select> --}}
                  {{!-- <div class="add-form__error-message">Виберіть категорію</div>
            </div>
                </div> --}}
              {{!-- </div>

              <div class="input-wrapper">
                <p class="add-modal__product-price-title">Ціна</p>
                <input
                  type="text"
                  name="productPrice"
                  data-source="price"
                  class="add-modal__product-price input"
                  autocomplete="off"
                  placeholder="0.00 грн"
                /> --}}
                {{!-- <div class="add-form__error-message">
                Введіть коректну ціну товару!
              </div>
              <div class="add-form__error-message error-price">
                Ціна не може бути більше 0!
              </div> --}}
              {{!-- </div>

              <div class="input-wrapper">
                <p class="add-modal__product-telephone-number-title">Телефон</p>
                <input
                  type="tel"
                  name="productPhone"
                  data-source="phone"
                  class="add-modal__product-telephone-number input"
                  id=""
                  placeholder="+38 (0--) --- -- --"
                /> --}}
                {{!-- <div class="add-form__error-message">Введіть коректний номер телефону!</div> --}}
              {{!-- </div>
            </div>
            <button type="submit" class="add-product-btn" data-close="">
              Додати
            </button>
          </form>
        </div>
      </div> --}}