<button class="auth-modal-open" auth-modal-open>Войти\зарегестрироваться</button>  
<div class="backdrop is-hidden" auth-modal> 
<div class="backdrop is-hidden" data-backdrop>
  <div class="container auth">
    <div class= "auth-modal">
        <button class="auth-modal-close" auth-modal-close>
            <svg width="24px"
                 height="24px">
                <use
                    href="/src/images/symbol-defs.svg#icon-close">
                </use>
            </svg>
        </button>
      <h3 class="auth-modal-title primary">
         Ви можете авторизуватися за допомогою Google Account:
      </h3>
      <button class="auth-modal-button-google">
        <img src="" alt="">
        <span class="auth-modal-button-google-text">
          <svg   class="auth-modal-button-google-icon"
                 width="18px"
                 height="18px">
                <use
                    href="/src/images/symbol-defs.svg#icon-google">
                </use>
            </svg>
          Google
        </span> 
      </button>
      <h3 class="auth-modal-title secondary">
         Або зайти за допомогою імейлу і пароля, попередньо зареєструвавшись:
      </h3>
      <form class="auth-modal-form" action="">
       <input class="auth-modal-input email" type="email" name="email" id="email" placeholder = "E-mail" required>
       <label for="mail" class="auth-input-label"></label>
       <input class="auth-modal-input password" type="password" name="password" id="password" placeholder = "Password" required pattern = "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$" title="Мінімум 6 символів, серед яких лише латинські букви [A-z] та цифри [0-9]"> <!--pattern = "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$" title="Мінімум 6 символів, серед яких лише латинські букви [A-z] та цифри [0-9]"-->
       <label for="password" class="auth-input-label"></label>
      <button class="auth-modal-button log-in">
        <span class="log-in-text">
          Увійти
        </span>    
      </button>
      <button class="auth-modal-button sign-in">
        <span class="sign-in-text">
        Зареєструватись
      </span>
      </button>
      </form> 
    </div>
  </div>
</div>
