<div class="product-backdrop js-product-backdrop"></div>
<div class="modal-wrapper">

	<button class="close-btn" data-action="close">
		<svg>
			<use href="/images/mySprite.svg#icon-close"></use>
		</svg>
	</button>

	<div class="product-container js-product">
	</div>
</div>